/* General Styles */
body {
    margin: 0;
    padding: 0;
    background-color: #000000; /* Black background for maximum spookiness */
    font-family: 'Gloria Hallelujah', cursive;
    color: #ffffff; /* White text for contrast */
    position: relative; /* Ensure relative positioning for absolute elements */
}

header {
    background-image: url('header_image.jpg'); /* Add a spooky header image */
    background-size: cover;
    background-position: center;
    height: 300px; /* Adjust height as needed */
    text-align: center;
}

main {
    padding: 20px;
}

h1 {
    font-size: 2em;
    margin-bottom: 20px;
    color: turquoise; /* Teal color for headings */
}

p {
    font-size: 1.2em;
    margin-bottom: 10px;
}

a {
    color: #ff6600; /* Teal color for links */
    text-decoration: none;
    transition: color 0.3s ease-in-out;
}

a:hover {
    color: #ff0000; /* Red color for hovered links */
}

/* Welcome Section Styles */
#welcome {
    text-align: center;
}

ul {
    list-style-type: none;
    padding: 0;
}

/* Footer Styles */
footer {
    background-image: url('footer_image.jpg'); /* Add a spooky footer image */
    background-size: cover;
    background-position: center;
    height: 200px; /* Adjust height as needed */
    text-align: center;
}

/* Spooky Element Styles */
.spooky {
    position: absolute;
    width: 50px; /* Adjust size as needed */
    height: 50px; /* Adjust size as needed */
    z-index: 9999; /* Ensure the spooky element is on top of other elements */
}

/* Dropdown Menu Styles */
.dropdown {
    position: fixed;
    top: 20px;
    right: 20px;
}

.dropbtn {
    background-color: transparent;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 8px;
}

.dropbtn:hover {
    color: red; /* Red color for hovered dropdown button */
}

.dropdown-content {
    display: none;
    position: fixed;
    top: 60px; /* Adjust top position as needed */
    right: 20px;
    background-color: #1a1a1a; /* Dark background color for dropdown */
    min-width: 160px;
    z-index: 1;
    border-radius: 8px;
    overflow-y: auto;
    max-height: calc(100vh - 80px); /* Adjust height to fit within viewport */
}

.dropdown-content a {
    color: white; /* White text color for dropdown links */
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    border-radius: 8px;
}

.dropdown-content a:hover {
    background-color: #333333; /* Darker background color for hovered dropdown links */
}

/* Bottom Corner Text */
.bottom-text {
    position: fixed;
    bottom: 20px;
    right: 20px;
    color: #ff0000; /* Red color for the text */
    font-size: 16px;
    z-index: 9999; /* Ensure the text is on top of other elements */
}

