body{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: hsla(0, 0%, 0%, 0.774);
}

.stopwatch{
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 5px solid;
  border-radius: 5px;
  background-color: white;
  padding: 30px;
}
.display{
  font-size: 3rem;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: bold;
  color: rgba(40, 30, 235, 0.405);
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.737);
  margin-bottom: 25px;
}

.controls button{
  font-size: 1.5rem;
  font-weight: bold;
  padding: 10px 20px;
  margin: 5px;
  min-width: 125px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  color: white;
  transition: background-color 0.5s ease;
}
.start-button{
  background-color: rgba(12, 217, 12, 0.918);
}

.start-button:hover{
  background-color: rgba(6, 128, 6, 0.918);
}
.stop-button{
  background-color: rgba(190, 13, 13, 0.918);
}

.stop-button:hover{
  background-color: rgba(128, 6, 6, 0.918);
}
.start-button{
  background-color: rgba(12, 26, 217, 0.918);
}

.start-button:hover{
  background-color: rgba(18, 6, 128, 0.918);
}